<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robinlee.androiddemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppTheme.AndroidDemo" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.robinlee.xmlparser.XmlParserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.robinlee.widget.ShimmerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.robinlee.widget.LoopViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.robinlee.widget.BottomNavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.robinlee.widget.TimePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.robinlee.widget.TimeSelectoriOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.robinlee.widget.CopyAndPasteTextViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NBTranslucentDecorActivityStyle"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.robinlee.material.design.MaterialDesignActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.robinlee.material.design.BottomSheetsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.robinlee.material.design.ButtonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.robinlee.material.design.TextInputLayoutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.robinlee.widget.RadioGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name="com.robinlee.lee.widget.CustomDrawableTextViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.robinlee.material.design.NavigationDrawerExampleActivity"
            android:label="@string/title_activity_navigation_drawer_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.robinlee.widget.IntonationLineActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="com.robinlee.widget.dialog.DialogActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>